<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42099783261-p2vcl11c65pradk2d2l2oj2uqb69g986.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42099783261-p2vcl11c65pradk2d2l2oj2uqb69g986</string>
	<key>API_KEY</key>
	<string>AIzaSyDKi9s4wBB4Ep6iDGr1itEzILBeIOI8NNA</string>
	<key>GCM_SENDER_ID</key>
	<string>42099783261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Smyth.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-16757</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-16757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42099783261:ios:7f6b7ae59e9e0626463fb4</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-16757.firebaseio.com</string>
</dict>
</plist>